@charset "UTF-8";

/* Main wrap */
#paik { width: 100%; }

/* header */
#p_header { width: 100%; }
#p_header .p_top {
    width: 1300px; height: 100px;
    margin: 0 auto;
    /* background-color: #eee; */
    position: relative;
}

#p_header .p_top .logo {
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#p_header .p_top .lang {
    position: absolute;
    right: 0; top: 36px;
}

/* 언어선택 메뉴 1레벨 */
#p_header .p_top .lang > li {
    position: relative;
}

#p_header .p_top .lang > li > a {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    /* background-color: #ccc; */
    padding: 0 20px; /*li width값 대신*/
    position: relative;
}

#p_header .p_top .lang > li > a::after {
    content: '';
    width: 6px; height: 4px;
    background: url(../img/ico_arrow.png) no-repeat;
    position: absolute;
    right: 0; top: 50%;
    margin-top: -2px; /*transform 써도 상관 무*/    
}

/* 언어선택 메뉴 2레벨 */
#p_header .p_top .lang .depth1{
    position: absolute;
    left: 0; top: 100%;
    border: 1px solid #b1b5b9;
    width: 100%;
    display: none;

}

#p_header .p_top .lang .depth1 a {
    display: block;
    height: 33px;
    line-height: 33px;
    padding-left: 20px;
}

/* 언어선택 hover */
#p_header .p_top .lang li:hover .depth1 {
    display: block;
}

/* gnb */
#p_header .p_gnb {
    border-top: 1px solid #dbdcdd;
    border-bottom: 1px solid #dbdcdd;
}

#p_header .p_gnb .gnb_inner {
    width: 1300px; height: 72px;
    margin: 0 auto;
    /* background-color: #fc0; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#p_header .p_gnb .gnb_inner .gnb {
    width: 234px;
}

/* gnb */

#p_header .gnb {
    display: flex;
}

/* gnb 1레벨 */
#p_header .gnb > li {
    flex: none;
    width: 234px;
}

#p_header .gnb > li > a {
    display: block;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

/* gnb subbox */
#p_header .gnb .sub_box {
    width: 100%;
    position: absolute;
    left: 0; top: 173px;
    border-top: 1px solid #0f0;
    border-bottom: 1px solid #0f0;
    padding-bottom: 31px;
    background-color: #fff;
    display: none;
    z-index: 100;
}

#p_header .gnb .sub_box .sub_inner {
    width: 1300px;
    /* background-color: #00f; */
    margin: 0 auto;
}

#p_header .gnb .sub_box .sub_inner .sub01 {
    width: 234px;
    border-right: 1px solid #0f0;
    padding-top: 8px;
    margin-top: 1px;
}

#p_header .gnb .sub_box .sub_inner .sub01 li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
}
        /*a에 직접적으로 hover 주는 거 권장X*/
#p_header .gnb .sub_box .sub_inner .sub01 li:hover {
    color: #00f;
}





/* gnb hover 설정 */

#p_header .gnb > li:hover > a::before {
    content: '';
    width: 100%; height: 4px;
    background: #2a629d;
    position: absolute;
    left: 0; top: 0;
}

#p_header .gnb > li:hover .sub_box {
    display: block;
}

/* 검색 버튼 설정 */
/* #p_header .search {
    width: 28px; height: 27px;
    background-color: #333;
} */

#p_header .search > button {
    border: none;
    width: 28px; height: 27px;
    background: url(../img/ico_search.png) no-repeat;
    cursor: pointer;
}

#p_header .search .s_box {
    width: 100%; height: 170px;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top:173px; left: 0;
    display: none;
    z-index: 100;
}

#p_header .search .s_inner{
    width: 1300px; height: 170px;
    margin: 0 auto;
    /* background-color: #fc0; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#p_header .search .s_input{
    width: 100%; height: 73px;
    /* background-color: #ccc; */
    position: relative;
    margin-bottom: 20px;
}

#p_header .search .s_input input {
    width: 1218px; height: 73px;
    background-color: transparent;
    position: absolute;
    left: 0; top: 0;
    border: 1px solid #efefef;
    color: #efefef;
    border-radius: calc(73px / 2) 0 0 calc(73px / 2);
    padding-left: 40px;
}


#p_header .search .s_input input:focus {
    outline: none;
}

#p_header .search .s_input button {
    position: absolute;
    right: 0; top: 0;
    width: 83px; height: 73px;
    border: none;
    border-radius: 0 36.5px 36.5px 0;
    background: url(../img/ico_search2.png) center center no-repeat #2a629d;
    text-indent: -9999px;
    cursor: pointer;
}

#p_header .search .s_box .s_inner .hash {
    display: flex;
    padding-left: 37px;
    color: #efefef;
}

#p_header .search:hover .s_box {
    display: block;
}


/* main */
#p_main { width: 100%; }
#p_main .visual {
    height: 599px;
    /* background-color: #f00; */
    position: relative;
}

#p_main .visual .v_img {
    height: 599px;
}

#p_main .visual .v_img img {
    width: 100%; height: 100%;
    object-fit: cover;
}

/* 분점 가기 */

#p_main .visual .branch {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 73px;
    background-color: rgba(10, 28, 44, 0.7);
    display: flex;
    justify-content:center;    
}

#p_main .visual .branch::after {
    content: '';
    width: 100%; height: 6px;
    background-color: #626368;
    position: absolute;
    left: 0; bottom: 0;
}

#p_main .visual .branch .b_list {
    display: flex;
    justify-content:center;
    align-items: center;
}

#p_main .visual .branch .b_list li {
    width: 259px;
    position: relative;
    
}

#p_main .visual .branch .b_list li > a {
    display: block;
    height: 73px; line-height: 73px;
    text-align: center;
    color: #efefef;
    font-size: 20px;
    border-left: 1px solid #efefef;
    position: relative;
    z-index: 100;
}

#p_main .visual .branch .b_list li:last-child > a {
    border-right: 1px solid #efefef;
}

#p_main .visual .branch .b_list li:hover > a {
    background-color: rgba(200, 200, 200, .5);
}

#p_main .visual .branch .sub_box {
    position: absolute;
    left: 0; bottom: 100%;
    width: 100%; height: 526px;
    background: #fff url(../img/main_visual_img_01.jpg) center top no-repeat; /*x는 center, y는 top 줘서 상단 중앙에 위치*/
    padding-top: 315px;
    display: none;
}

#p_main .visual .branch .sub_box span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

#p_main .visual .branch .sub_box h3 span:nth-child(1) {
    font-size: 22px;
    color: #fc0;
}


#p_main .visual .branch .sub_box h3 span:nth-child(4) {
    font-size: 18px;
    color: #000;
    letter-spacing: 0;
}

#p_main .visual .branch .sub_box a{
    position: absolute;
    left: 0; top: 0;
    /* background-color: #f00; */
    width: 100%; height: 100%;
    text-indent: -9999px;
}

#p_main .visual .branch .sub_box .btn {
    position: absolute;
    left: 50%; bottom: 30px;
    margin-left: -25px;
    width: 50px; height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
}

#p_main .visual .branch .sub_box .btn::before {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 4px; height: 20px;
    background-color: #f00;
    transform: translateX(-50%) translateY(-50%);
}

#p_main .visual .branch .sub_box .btn::after {
    content: '';
    position: absolute;
    right: 50%; top: 50%;
    width: 20px; height: 4px;
    background-color: #f00;
    transform: translateY(-50%) translateX(50%) ;
}

#p_main .visual .branch .b_list li:hover .sub_box{
    display: block;
}

/* 백병원 뉴스 */
#p_main .news1 {
    height: 557px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_main .news1 .p_news {
    display: flex;
    
}

#p_main .news1 .p_news li {
    flex: none;
    width: 312px; height: 387px;
    /* background-color: #f00; */
    border-radius: 20px;
}

#p_main .news1 .p_news li:not(:first-child){
    margin-left: 17px;
}

#p_main .news1 .p_news li:nth-child(1){
    background: url(../img/imageSrc7.jpg);
    background-size:cover;
}

#p_main .news1 .p_news li:nth-child(2){
    background: url(../img/imageSrc8.jpg);
    background-size:cover;
}

#p_main .news1 .p_news li:nth-child(3){
    background: url(../img/imageSrc9.jpg);
    background-size:cover;
}

#p_main .news1 .p_news li:nth-child(4){
    background: url(../img/imageSrc10.jpg);
    background-size:cover;
}


#p_main .news1 .p_news li a {
    display: block;
    height: 100%;
    color: #fff;
    padding: 25px 25px 0;
    position: relative;
}

#p_main .news1 .p_news li a h3 {
    font-size: 22px;
    line-height: 1.4;
    color: inherit;
    margin-bottom: 20px;
}

#p_main .news1 .p_news li a p {
    font-size: 20px;
    line-height: 1.2;
    text-align: justify;
}

#p_main .news1 .p_news li a span {
    width: 40px; height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 25px; right: 25px;
    z-index: 50;
}

#p_main .news1 .p_news li a span::before {
    content: '';
    width: 20px; height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 50%; right: 50%;
    transform: translateX(50%) translateY(50%);

}

#p_main .news1 .p_news li a span::after {
    content: '';
    width: 2px; height: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 50%; right: 50%;
    transform: translateX(50%) translateY(50%);
}



/* 백병원 소식 */
#p_main .news2 {
    height: 557px;
    background-color: #aaa;
}


/* 백병원 역사관 */
#p_main .history {
    height: 200px;
    background-color: #fff;
}


/* 백병원 메뉴 바로가기*/
#p_main .quick {
    height: 200px;
    background-color: #aaa;
}



/* footer */